/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Lighter background color */
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 20px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: transparent;
    margin-top: 50px; /* Increased margin to lower the menu */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-left {
    margin-left: auto;
}

.nav-right {
    margin-right: auto;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
    font-size: 1.25em; /* Increased font size for menu items */
    transition: color 0.3s, background-clip 0.3s, -webkit-background-clip 0.3s, -webkit-text-fill-color 0.3s;
}

nav ul li a.active {
    color: transparent;
    background: var(--active-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    margin: 0 40px;
    flex-shrink: 0;
}

.logo h1 {
    font-size: 1.5em;
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px; /* Adjusted for header space */
}

.content {
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

#quote {
    font-size: 3.5em; /* Increased font size for the quote */
    font-weight: bold;
    background: linear-gradient(90deg, #56ccf2, #2f80ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
